# ISEAR Hugging Face

In [8]:
from datasets import load_dataset
import pandas as pd

# Load the dataset
dataset = load_dataset("RikoteMaster/isear_rauw")

# Print some information about the dataset
print(dataset)

DatasetDict({
    train: Dataset({
        features: ['Emotion', 'Text', 'Text_processed', 'text'],
        num_rows: 5637
    })
    test: Dataset({
        features: ['Emotion', 'Text', 'Text_processed', 'text'],
        num_rows: 1879
    })
})

In [2]:
# Access the train split
train_dataset = dataset['train']

# Access the test split
test_dataset = dataset['test']

# Print some examples
print(train_dataset[0])
print(test_dataset[0])

{'Emotion': 'anger', 'Text': "When I was victimized for running away with a girl who was  \nsomebody else's wife and niece at the same time.  I was very  \nangry over this issue because I was told to pay him money after  \nhaving been punished for it. ", 'Text_processed': 'when i was victimized for running away with a girl who was  somebody elses wife and niece at the same time  i was very  angry over this issue because i was told to pay him money after  having been punished for it ', 'text': "[INST] In this task, you will be performing a classification exercise aimed at identifying the underlying emotion conveyed by a given sentence. The emotions to consider are as follows: Anger, Joy, Sadness, Guilt, Shame, Fear, or Disgust Sentence: When I was victimized for running away with a girl who was  \nsomebody else's wife and niece at the same time.  I was very  \nangry over this issue because I was told to pay him money after  \nhaving been punished for it.  [/INST] anger"}
{'Emotion': 'disgust', 'Text': 'Saw someone messing up our room.', 'Text_processed': 'saw someone messing up our room', 'text': '[INST] In this task, you will be performing a classification exercise aimed at identifying the underlying emotion conveyed by a given sentence. The emotions to consider are as follows: Anger, Joy, Sadness, Guilt, Shame, Fear, or Disgust Sentence: Saw someone messing up our room. [/INST] disgust'}

In [9]:
# Convert train and test splits to Pandas DataFrames
train_df = dataset['train'].to_pandas()
test_df = dataset['test'].to_pandas()

# Print the first few rows of the DataFrames
display(train_df.head())
display(test_df.head())

,Emotion,Text,Text_processed,text
0,anger,When I was victimized for running away with a ...,when i was victimized for running away with a ...,"[INST] In this task, you will be performing a ..."
1,anger,When close relatives tried to dissuade me from...,when close relatives tried to dissuade me from...,"[INST] In this task, you will be performing a ..."
2,anger,Somebody was blaming me of a story which was n...,somebody was blaming me of a story which was n...,"[INST] In this task, you will be performing a ..."
3,fear,When I was just to be divorced.,when i was just to be divorced,"[INST] In this task, you will be performing a ..."
4,sadness,The elections of 1982 and 1985. The thought o...,the elections of and the thought of what a ...,"[INST] In this task, you will be performing a ..."

,Emotion,Text,Text_processed,text
0,disgust,Saw someone messing up our room.,saw someone messing up our room,"[INST] In this task, you will be performing a ..."
1,shame,Defying my parents and staying out all night w...,defying my parents and staying out all night w...,"[INST] In this task, you will be performing a ..."
2,joy,I experienced joy when I got the results - I h...,i experienced joy when i got the results i ha...,"[INST] In this task, you will be performing a ..."
3,shame,"Again, a quarrel had come up in our difficult ...",again a quarrel had come up in our difficult r...,"[INST] In this task, you will be performing a ..."
4,fear,When thieves broke into our neighbour's house ...,when thieves broke into our neighbours house a...,"[INST] In this task, you will be performing a ..."

In [13]:
df=pd.concat([train_df,test_df])
df=df[["Emotion","Text"]]
print(df.shape)
df.head()

(7516, 2)

   Emotion                                               Text
0    anger  When I was victimized for running away with a ...
1    anger  When close relatives tried to dissuade me from...
2    anger  Somebody was blaming me of a story which was n...
3     fear                    When I was just to be divorced.
4  sadness  The elections of 1982 and 1985.  The thought o...

# ISEAR Kaggle

In [18]:
import os
import pandas as pd

# Set Kaggle API credentials (if not already set)
os.environ['KAGGLE_USERNAME'] = 'dalopeza'
os.environ['KAGGLE_KEY'] = '8ac74da6bf647fda9ae28e27658bf807'
# Download the dataset using Kaggle API
os.system('kaggle datasets download -d faisalsanto007/isear-dataset')

# Unzip the downloaded file
import zipfile
with zipfile.ZipFile('isear-dataset.zip', 'r') as zip_ref:
    zip_ref.extractall('isear_data')

# List the contents of the directory to find the correct file name
print("Contents of the isear_data directory:")
print(os.listdir('isear_data'))

# Load the dataset into Pandas DataFrame (adjust the file name as necessary)
df = pd.read_csv('isear_data/eng_dataset.csv')

# Print the first few rows of the DataFrame
print(df.shape)
df.head()

Dataset URL: https://www.kaggle.com/datasets/faisalsanto007/isear-dataset
License(s): ODbL-1.0
isear-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)
Contents of the isear_data directory:
['eng_dataset.csv']
(7102, 3)

      ID sentiment                                            content
0  10941     anger  At the point today where if someone says somet...
1  10942     anger  @CorningFootball  IT'S GAME DAY!!!!      T MIN...
2  10943     anger  This game has pissed me off more than any othe...
3  10944     anger  @spamvicious I've just found out it's Candice ...
4  10945     anger  @moocowward @mrsajhargreaves @Melly77 @GaryBar...

# DATASET FROM GITHUB
https://github.com/PoorvaRane/Emotion-Detector/blob/master/ISEAR.csv

In [33]:
df=pd.read_csv("../data/ISEAR.csv", header=None, sep = ",",names=["Emotion", "Text","Nan"])
df=df[["Emotion", "Text"]]
print(df.shape)
df.head()

(7516, 2)

   Emotion                                               Text
0      joy  On days when I feel close to my partner and ot...
1     fear  Every time I imagine that someone I love or I ...
2    anger  When I had been obviously unjustly treated and...
3  sadness  When I think about the short time that we live...
4  disgust  At a gathering I found myself involuntarily si...

# DATASET FOR GITGUB 2
https://github.com/sinmaniphel/py_isear_dataset/blob/master/isear.csv

In [46]:
df=pd.read_csv("../data/isear ori.csv", sep= "|", on_bad_lines="skip")
df=df[["Field1", "SIT"]]
df=df.rename(columns={"Field1":"Emotion", "SIT":"Text"})
print(df.shape)
df.head()

(7503, 2)

   Emotion                                               Text
0      joy  During the period of falling in love, each tim...
1     fear         When I was involved in a traffic accident.
2    anger  When I was driving home after  several days of...
3  sadness  When I lost the person who meant the most to me.
4  disgust  The time I knocked a deer down - the sight of ...

# Dataset Nuevo
https://zenodo.org/records/5040202

In [50]:
df_test=pd.read_csv("../data/data_test.csv")
print(df_test.shape)
df_test.head()

(3393, 2)

   Emotion                                               Text
0  sadness  I experienced this emotion when my grandfather...
1  neutral   when I first moved in , I walked everywhere ....
2    anger  ` Oh ! " she bleated , her voice high and rath...
3     fear  However , does the right hon. Gentleman recogn...
4  sadness  My boyfriend didn't turn up after promising th...

In [51]:
df_train=pd.read_csv("../data/data_train.csv")
print(df_train.shape)
df_train.head()

(7934, 2)

   Emotion                                               Text
0  neutral   There are tons of other paintings that I thin...
1  sadness  Yet the dog had grown old and less capable , a...
2     fear  When I get into the tube or the train without ...
3     fear  This last may be a source of considerable disq...
4    anger  She disliked the intimacy he showed towards so...

# Kaggle opción 2 -> Este coincide con el dataset original del paper
https://www.kaggle.com/datasets/radedaevi/emotions-description

In [67]:
df=pd.read_excel("../data/Emotions description.xlsx")
df=df.rename(columns={"Field1": "emotion", "SIT": "text"})
print(df.shape)
df.head()

(7666, 2)

  emotion                                               text
0   anger  When a boy tried to fool me so he would be OK ...
1   anger  I felt anger when I saw that I was being misle...
2   anger  Once a friend had pushed me and I had fallen o...
3   anger  When I was misleaded by a person who assured t...
4   anger  I don't use to lie to my parets about what I d...

In [73]:
df.groupby("emotion").count()

         text
emotion
anger    1096
disgust  1096
fear     1095
guilt    1093
joy      1094
sadness  1096
shame    1096